// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define RIGHT   1
#define LEFT    2
#define TRI     3
#define QWERTY  4

&sl {
    /delete-property/ quick-release;
};

/ {
    behaviors {
        lti: left_thumb_inner {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFT_THUMB_INNER";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LCTRL TAB>, <&sl LEFT>, <&to LEFT>;
        };
        rti: right_thumb_inner {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHT_THUMB_INNER";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp BSPC>, <&sl RIGHT>, <&to RIGHT>;
        };
        rto: right_thumb_outer {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHT_THUMB_OUTER";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LALT SPACE>, <&to DEFAULT>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <RIGHT LEFT>;
            then-layer = <TRI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ' "     │  , <     │  .>      │  P       │  Y       │   │  F       │  G       │  C       │  R       │  L       │
            &kp SQT    &kp COMMA  &kp DOT    &kp P      &kp Y          &kp F      &kp G      &kp C      &kp R      &kp L 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  O       │  E       │  U       │  I       │   │  D       │  H       │  T       │  N       │ S        │
            &kp A      &kp O      &kp E      &kp U      &kp I          &kp D      &kp H      &kp T      &kp N      &kp S
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ; :     │  Q       │  J       │  K       │  X       │   │  B       │  M       │ W        │ V        │ Z        │
            &kp SEMI   &kp Q      &kp J      &kp K      &kp X          &kp B      &kp M      &kp W      &kp V      &kp Z
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 |SHFT ENTE |CTR TAB L1|   | BKSPC L2 | ALT SPACE|
                                        &mt LSHFT ENTER  &lti           &rti       &rto 
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESCAPE   │ PAGE UP  │ UP       │ PAGE DN  │ HOME     │   │ / ?      │ 7 &      │ 8 *      │ 9 (      │ = +      │
            &kp ESC    &kp PG_UP  &kp UARW   &kp PG_DN  &kp HOME       &kp FSLH   &kp N7     &kp N8     &kp N9     &kp EQUAL 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ DELETE   │ LEFT     │ DOWN     │ RIGHT    │ END      │   │ - _      │ 4 $      │ 5 %      │ 6 ^      │ . >      │
            &kp DEL    &kp LARW   &kp DARW   &kp RARW   &kp END        &kp MINUS  &kp N4     &kp N5     &kp N6     &kp DOT  
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ INSERT   │          │ \ |      │ [ {      │ ] }      │   │ 0 )      │ 1 !      │ 2 @      │ 3 #      │ ` ~      │
            &kp INS    &none      &kp BSLH   &kp LBKT   &kp RBKT       &kp N0     &kp N1     &kp N2     &kp N3  &kp GRAVE    
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 |          |          |   |          |          |
                                             &trans     &trans         &trans     &trans   
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │ F1       │ F2       │ F3       │ F4       │ F5       │
            &none      &none      &none      &none      &none          &kp F1     &kp F2     &kp F3     &kp F4     &kp F5   
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ stky gui │ WIN SWTCH│   │ F6       │ F7       │ F8       │ F9       │ F10      │
            &none      &none      &none      &sk LGUI &kp LA(TAB)      &kp F6     &kp F7     &kp F8     &kp F9     &kp F10   
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │ F11      │ F12      │          │          │          │
            &none      &none      &none      &none      &none          &kp F11    &kp F12    &none      &none      &none 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 |          |          |   |          |          |
                                             &trans     &trans         &trans     &trans 
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &none      &none      &none     &bt BT_SEL 0    &to QWERTY &none      &none      &none     &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &none      &none      &none     &bt BT_SEL 1    &none      &none      &none      &none     &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &none      &none      &none     &bt BT_CLR &bt BT_SEL 2    &none      &none      &none      &none      &none 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 |          |          |   |          |          |
                                             &trans     &trans         &trans     &trans 
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        qwerty {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ Q        │ W        │ E        │ R        │ T        │   │ Y        │ U        │ I        │ O        │ P        │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P    
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ A        │ S        │ D        │ F        │ G        │   │ H        │ J        │ K        │ L        │  ; :     │
            &kp A      &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp SEMI  
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ Z        │ X        │ C        │ V        │ B        │   │ N        │ M        │  , <     │  .>      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 |          |          |   |          |          |
                                             &trans     &trans         &trans     &trans 
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯

            >;
        };
    };
};
